<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @business_transaction.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business_transaction.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency @business_transaction.amount %>
</p>

<p>
  <strong>Balance:</strong>
  <%= number_to_currency @business_transaction.balance %>
</p>

<%= link_to 'Edit', edit_business_transaction_path(@business_transaction) %> |
<%= link_to 'Back', business_transactions_path %>
