<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @client.regex %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @client.credits %>
</p>

<p>
  <strong>Debits:</strong>
  <%= @client.debits %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
